.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.house {
  background: azure;
}

.expander {
  cursor:pointer;
  font-size: 5vmin;
  margin:10px;
  padding:10px;
  width:300px;

}

.content{
  border:solid 1px #555;
  font-size: 4vmin;
  height: 0;
  overflow:hidden;
}

.button {
  background: #0069ed;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  margin: 0;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

svg {
    width: 90vw;
    height: auto;
}
