.App {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background-color: #555555;
}

.house {
    background: azure;
    width: 90vw;
    height: auto;
}


.check {
    display: none;
}

.check-circle {
    display: none;
}


.expander {
    cursor: pointer;
    font-size: 5vmin;
    margin: 10px;
    padding: 10px;
    width: 300px;

}

.content {
    border: solid 1px #555;
    font-size: 4vmin;
    height: 0;
    overflow: hidden;
}

.button {
    background: #0069ed;
    border: none;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    margin: 0;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

.eyeBox {
    width:  50vw;
    padding-top: 100px;
    height: 50vw;
}
